<%- include('../EJS/head.ejs') %>
    <link rel="stylesheet" href="/public/css/forms.css">
    <link rel="stylesheet" href="/public/css/auth.css">

    </head>

    <body>
        <%- include('../EJS/navigation.ejs') %>

            <main>
                <% if(flash){%>
                <div class="user-message user-message--error"><%=flash%></div>
                <% }%>
                <form class="login-form" action="/new-password" method="POST">
                    <div class="form-control">
                        <label for="password">password</label>
                        <input type="password" name="password" id="password">

                    </div>
                    <input type="hidden" name="passToken" value="<%= passToken %>"/>
                    <input type="hidden" name="userid" value="<%= userid %>"/>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <button class="btn" type="submit">update password</button>
                </form>
              
            </main>
            <%- include('../EJS/end.ejs') %>