<section class="pagination">
    <% if(currentpage!==1&&previouspage!==1) {%>
    <a href="/?page=1">1</a>
   <% }%>
   <% if(hasPreviouspage){%>
    <a href="/?page<%=previouspage%>"><%=previouspage%></a>
   <% }%>
   <a href="?page=<%= currentpage %>" class="active"><%= currentpage %></a>
   <% if(hasNextpage){%>
    <a href="/?page=<%=nextpage%>"><%=nextpage%></a>
   <% }%>
   <% if (lastpage !== currentpage && nextpage !== lastpage) { %>
    <a href="/?page=<%= lastpage %>"><%= lastpage %></a>
<% } %>
</section>