<%- include('../EJS/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../EJS/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul class="cart__item-list">
                        <% products.forEach(p=> { %>
                            <li class="cart__item">
                                <h1>
                                    <%= p.productid.title %>
                                </h1>
                                <h2>Quantity: <%= p.quantity %>
                                </h2>
                                <form action="/cart-delete-item" method="POST">

                                    <input type="hidden" value="<%= p._id %>" name="productid">
                                    <input name="_csrf" value="<%= csrfToken %>" type="hidden">
                                    
                                    <button class="btn danger" type="submit">Delete</button>
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                    <hr>
                    <div class="centered">

                        <!-- <Form action="/order-item" method="post">
                            <input name="_csrf" value="<%= csrfToken %>" type="hidden">
                            
                            <button class="btn" type="submit">ORDER</button> -->
                        <a class="btn" href="/checkout">order now</a>
                        </Form>
                    </div>
                    <% } else { %>
                        <h1>No Products in Cart!</h1>
                        <% } %>
            </main>
            <%- include('../EJS/end.ejs') %>